<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My &lt; MAIN</title>
    <link rel="stylesheet" href="../../common/scss/reset.css">
    <link rel="stylesheet" href="index.module.css">
    <script src="../../common/js/lib/jquery-1.12.4.js"></script>
</head>

<body>

    <div class="main-section">
        <div class="top-header">
            <div class="top-header-left">
                <img src="images/go-back-img@2x.png" /><span>휴대폰</span>
            </div>
            <div class="top-header-right">
                <span class="ico-cart"><img src="images/cart@2x.png" /></span>
                <span class="ico-mypage"><img src="images/mypage@2x.png" /></span>
            </div>
        </div>
    </div>

</body>

</html>