@charset "UTF-8";

.main-section {
    position: relative;
    letter-spacing: -0.4px;
    color: #222;

    button {
        display: block;
        width: 100%;
        padding: 0;
        letter-spacing: -0.4px;
        font-family: inherit;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

    .section-tit {
        position: relative;
        line-height: 1.5;
        margin-bottom: 10px;
        font-size: 13px;
        z-index: 2;
    }

    .rect-tab {
        
        ul {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            margin:0 20px;

            li {
                &:last-child{
                    margin-right:40px;
                }
                
                &.item {
                    width: 76px !important;

                    button {
                        width: 76px;
                        height: 40px;
                        padding: 9px 7px 9px 8px;
                        border-radius: 4px;
                        border: solid 1px #c7c7c7;
                        box-sizing: border-box;
                        font-family: SpoqaHanSansNeo;
                        font-size: 13px;
                        font-weight: normal;
                        letter-spacing: -0.5px;
                        text-align: center;
                        color: #666666;

                        &.current {
                            width: 76px;
                            height: 40px;
                            padding: 9px 8px;
                            border-radius: 4px;
                            border: solid 1px #000000;
                            font-weight: bold;
                            letter-spacing: -0.5px;
                            color: #000000;

                        }
                    }
                }
            }
        }
    }
}
