<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My &lt; MAIN</title>
  <link rel="stylesheet" href="../../../../../../../../../shared/components/my/scss/reset.css">
  <link rel="stylesheet" href="index.module.css">
  <script src="../../../../../../../../../shared/components/my/js/lib/jquery-1.12.4.js"></script>
</head>

<body style="background-color: #f6f8fa;">

  <div class="main-section">
    <button type="button" class="cnt-card type-arrow" aria-label="바로보상 쓰시던 휴대폰을 최고가로 보상해드려요.">
      <span class="txt-notice">바로보상</span>
      <span class="info-message">
        <span class="info">
          쓰시던 휴대폰을 최고가로 보상해드려요.
        </span>
      </span>
    </button>
  </div>

</body>
</html>