<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My &lt; MAIN</title>
  <link rel="stylesheet" href="../../../../../../../../../shared/components/my/scss/reset.css">
  <link rel="stylesheet" href="index.module.css">
  <script src="../../../../../../../../../shared/components/my/js/lib/jquery-1.12.4.js"></script>
</head>

<body style="background-color: #f6f8fa;">

  <div class="main-section">
    <h3 class="section-tit">구매 하신 상품 배송 조회 해보세요.</h3>
    <div class="section-cnt">
      <div class="cnt-card">
        <div class="device-area">
          <div class="thumb">
            <img src="./images/img-tds-phone-product@2x.png" alt="갤럭시 노트20 5G" title="갤럭시 노트20 5G" />
          </div>
          <div class="service-cnt">
            <div class="service-name btn-txt-arrow">
              갤럭시 노트 20 5G
            </div>
            <div class="service-desc">
              <dl>
                <dt>주문번호</dt>
                <dd>200331378710</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="step-area">
          <ul>
            <li><span>신청접수</span></li>
            <li><span>상품준비</span></li>
            <li><span>물품배송</span></li>
            <li><span>배송완료</span></li>
          </ul>
          <div class="bar order-status0"></div>
        </div>
        <div class="step-area">
          <ul>
            <li class="current"><span>신청접수</span></li>
            <li><span>상품준비</span></li>
            <li><span>물품배송</span></li>
            <li><span>배송완료</span></li>
          </ul>
          <div class="bar order-status1"></div>
        </div>
        <div class="step-area">
          <ul>
            <li><span>신청접수</span></li>
            <li class="current"><span>상품준비</span></li>
            <li><span>물품배송</span></li>
            <li><span>배송완료</span></li>
          </ul>
          <div class="bar order-status2"></div>
        </div>
        <div class="step-area">
          <ul>
            <li><span>신청접수</span></li>
            <li><span>상품준비</span></li>
            <li class="current"><span>물품배송</span></li>
            <li><span>배송완료</span></li>
          </ul>
          <div class="bar order-status3"></div>
        </div>
        <div class="step-area">
          <ul>
            <li><span>신청접수</span></li>
            <li><span>상품준비</span></li>
            <li><span>물품배송</span></li>
            <li class="current"><span>배송완료</span></li>
          </ul>
          <div class="bar order-status4"></div>
        </div>

        <div class="btn-area">
          <button type="button" class="btn btn-s bg-normal arrow-right-normal" aria-label="자세히 보기">자세히 보기</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>