@charset "UTF-8";

.main-section {
    position: relative;
    letter-spacing: -0.4px;
    color: #222;
    

    hr {
        display: block;
        height: 2px;
        margin: 20px 0;
        border-radius: 1px;
        border: none;
        box-shadow: inset 1px 1px 1px rgba(186, 186, 189, 0.5);
    }

    button {
        padding: 0;
        letter-spacing: -0.4px;
        font-family: inherit;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

    .blind {
        position: absolute !important;
        overflow: hidden;
        width: 1px;
        height: 1px;
        margin: -1px;
        clip: rect(0, 0, 0, 0);
        color: transparent;
    }

    .link-divide {
        padding: 10px 0;
        .link-divide-sub {
            width: calc(100% - 40px);
            margin: 0px auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding: 20px 20px 24px 20px;
            object-fit: contain;
            border-radius: 12px;
            box-shadow: -4px -6px 10px 0 #ffffff, 4px 7px 10px 0 #dde0e2, -2px -2px 2px 0 #ffffff;
            background-color: #f6f8fa;
            box-sizing: border-box;

            &::after {
                content: "";
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 1px;
                height: 20px;
                background-color: #e1e3e4;
                transform: translateY(-50%);
            }

            button {

                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                flex-direction: column;
                position: relative;
                letter-spacing: -0.4px;
                font-family: inherit;
                color: #222222;
                border: 0;
                background-color: transparent;
                cursor: pointer;

                &+button {
                    margin-left: 22px;
                }

                .tl-txt {
                    margin: 0 0 2px 0;
                    font-family: SpoqaHanSansNeo;
                    font-size: 13px;
                    font-weight: 500;
                    letter-spacing: -0.41px;
                    color: #000000;
                }

                .link-txt {

                    a {
                        height: 17px;
                        margin: 2px 0 0 2px;
                        font-family: AppleSDGothicNeo;
                        font-size: 14px;
                        line-height: 1.21;
                        letter-spacing: -0.58px;
                        color: #429be6;
                    }
                }
            }
        }
    }

}