<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>My &lt; MAIN</title>
    <link rel="stylesheet" href="../../common/scss/reset.css">
    <link rel="stylesheet" href="index.module.css">
    <script src="../../common/js/lib/jquery-1.12.4.js"></script>
</head>

<body>

    <div class="main-section">
        <div class="link-divide">
            <div class="link-divide-sub">
                <button type="button" aria-label="매장 찾기">
                    <div class="tl-txt"> 요금제</div>
                    <div class="link-txt"><a href="#">LTE Watch (공유 ll)</a></div>
                </button>
                <button type="button" c aria-label="A/S센터 찾기">
                    <div class="tl-txt"> 할인방법</div>
                    <div class="link-txt"><a href="#">더 좋은 방법</a></div>
                </button>
            </div>
        </div>
    </div>

</body>

</html>
