<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My &lt; MAIN</title>
    <link rel="stylesheet" href="../../common/scss/reset.css">
    <link rel="stylesheet" href="index.module.css">
    <script src="../../common/js/lib/jquery-1.12.4.js"></script>
</head>

<body>
    <div class="main-section">
        <div class="mobile-devices-list-type-title">
            <div class="list-total-num">전체 3개</div>
            <div class="list-sorting">
                <div class="list-sorting-sel">
                    <select>
                        <option>최신순</option>
                        <option>평점 높은순</option>
                        <option>인기 상품</option>
                    </select>
                </div>
                <div class="list-sorting-btn"></div>
            </div>
        </div>
    </div>
</body>

</html>