@charset "UTF-8";

.main-section {
  position: relative;
  color: #222;
  button {
    letter-spacing: -0.4px;
    font-family: inherit;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
  .thumb {
    width: 66px;
    height: 66px;
    line-height: 0;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  .cnt-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    text-decoration: none;
    font-family: inherit;
    border: 0;
    border-radius: 12px;
    box-shadow: -4px -6px 10px #fff, 4px 7px 10px #dde0e2, -2px -2px 2px #fff;
    box-sizing: border-box;
    cursor: pointer;
    &.banner-event {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 80px;
      padding: 7px 22px 7px 24px;
      .txt-area {
        display: block;
        width: calc(100% - 76px);
        .txt-notice {
          display: block;
          line-height: 1.5;
          font-size: 16px;
          font-weight: 500;
          color: #222;
          strong {
            font-weight: 500;
            color: #9941a7;
          }
        }
        .info-message {
          display: block;
          line-height: 1.5;
          font-size: 12px;
          color: #767778;
        }
      }
    }
  }
  .swiper-wrap {
    position: relative;
    margin: 0 -10px -20px;
    padding-top: 16px;
    .swiper-banner {
      margin-top: -20px;
      .item {
        box-sizing: border-box;
        .item-inner {
          position: relative;
          padding: 20px 10px;
        }
      }
    }
    .swipe-nav {
      position: absolute;
      top: 0;
      right: 10px;
      bottom: auto;
      left: auto;
      width: auto;
      line-height: 0;
      text-align: center;
      z-index: 2;
      .bullet {
        display: inline-block;
        position: relative;
        overflow: hidden;
        width: 5px;
        height: 5px;
        border-radius: 2.5px;
        background: #d8d9d9;
        vertical-align: top;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        & + .bullet {
          margin-left: 4px;
        }
        button {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: transparent;
        }
        &.active {
          width: 14px;
          background: #f76252;
          &::before {
            content: '현재페이지 번호';
            display: block;
            overflow: hidden;
            width: 1px;
            height: 1px;
            color: transparent;
          }
        }
        &.active,
        &:focus {
          outline: none;
          border: 0;
        }
      }
    }
  }
}
