<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My &lt; MAIN</title>
  <link rel="stylesheet" href="../../../../../../../../../shared/components/my/scss/reset.css">
  <link rel="stylesheet" href="../../../../../../../../../shared/components/my/js/lib/swiper/swiper.css">
  <link rel="stylesheet" href="index.module.css">
  <script src="../../../../../../../../../shared/components/my/js/lib/jquery-1.12.4.js"></script>
  <script src="../../../../../../../../../shared/components/my/js/lib/swiper/swiper.min.js"></script>
</head>

<body style="background-color: #f6f8fa;">

  <div class="main-section">
    <div class="swiper-wrap">
      <div class="swiper-container swiper-banner">
        <ul class="swiper-wrapper">
          <li class="item swiper-slide">
            <div class="item-inner">
              <button type="button" class="cnt-card banner-event" aria-label="Galaxy Z Flip 사전예약 아담한 크기에 담긴 혁신">
                <span class="txt-area">
                  <span class="txt-notice">
                    Galaxy <strong>Z Flip</strong> 사전예약
                  </span>
                  <span class="info-message">아담한 크기에 담긴 혁신</span>
                </span>
                <span class="thumb">
                  <img src="./images/img-banner-event-galaxy-zflip@2x.png" alt="" title="" aria-hidden="true">
                </span>
              </a>
            </div>
          </li>
          <li class="item swiper-slide">
            <div class="item-inner">
              <button type="button" class="cnt-card banner-event" aria-label="Galaxy Z Flip 사전예약 아담한 크기에 담긴 혁신">
                <span class="txt-area">
                  <span class="txt-notice">
                    Galaxy <strong>Z Flip</strong> 사전예약
                  </span>
                  <span class="info-message">아담한 크기에 담긴 혁신</span>
                </span>
                <span class="thumb">
                  <img src="./images/img-banner-event-galaxy-zflip@2x.png" alt="" title="" aria-hidden="true">
                </span>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="swipe-nav" data-swipe-paging>
        
      </div>
    </div>
  </div>

  <script>
    // swiper slider
    var swiper = new Swiper('.swiper-container', {
      // spaceBetween: 20,
      pagination: {
        el: '[data-swipe-paging]',
        type: 'bullets',
        clickable: true,
        slidesPerView: 'auto',
        bulletClass: 'bullet',
        bulletActiveClass: 'active',
        renderBullet: function(index, className) {
          return '<div class="' + className + '"><button>"' + (index + 1) + '"</button></div>';
        },
      }
    });
  </script>

</body>
</html>