.main-section {
  position: relative;
  letter-spacing: -0.4px;
  color: #222;
}

.main-section hr {
  display: block;
  height: 2px;
  margin: 20px 0;
  border-radius: 1px;
  border: none;
  -webkit-box-shadow: inset 1px 1px 1px rgba(186, 186, 189, 0.5);
          box-shadow: inset 1px 1px 1px rgba(186, 186, 189, 0.5);
}

.main-section button {
  padding: 0;
  letter-spacing: -0.4px;
  font-family: inherit;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.main-section .blind {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  color: transparent;
}

.main-section .mobile-devices-list-type-title-2nd {
  width: calc(100% - 40px);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section .mobile-devices-list-type-title-2nd .list-total-num {
  width: auto;
  height: 19px;
  margin: 10px 0 10px 0;
  font-family: SpoqaHanSansNeo;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.37px;
  color: #767778;
}

.main-section .mobile-devices-list-type-title-2nd .list-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 39px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section .mobile-devices-list-type-title-2nd .list-sorting .list-sorting-sel {
  width: auto;
  min-width: 90px;
  height: 39px;
  padding: 7px 6px 7px 13px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
}

.main-section .mobile-devices-list-type-title-2nd .list-sorting .list-sorting-sel select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: url(./images/select-bg.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 24px 24px;
  vertical-align: middle;
  width: auto;
  min-width: 43px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.74;
  font-family: SpoqaHanSansNeo;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #242424;
  border: 0;
  overflow: hidden;
  padding-right: 24px;
}

.main-section .mobile-devices-list-type-title-2nd .list-sorting .list-sorting-sel select::-ms-expand {
  display: none;
}

.main-section .mobile-devices-list-type-title-2nd .list-sorting .list-sorting-btn {
  width: 30px;
  height: 30px;
  margin: 0 0 0 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(./images/btn-sorting-card@2x.png);
  background-size: 30px 30px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=index.module.css.map */