<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My &lt; MAIN</title>
  <link rel="stylesheet" href="../../../../../../../../../shared/components/my/scss/reset.css">
  <link rel="stylesheet" href="index.module.css">
  <script src="../../../../../../../../../shared/components/my/js/lib/jquery-1.12.4.js"></script>
</head>

<body style="background-color: #f6f8fa;">

  <div class="main-section">
    <h3 class="section-tit">사용 가능한 쿠폰이 있어요.</h3>
    <button type="button" class="cnt-card type-arrow" aria-label="T다이렉트샵 첫 구매 할인쿠폰">
      <span class="txt-notice">T다이렉트샵 첫 구매 할인쿠폰</span>
      <span class="info-message">
        <span class="info">
          <em>할인금액</em>
          <strong>20,000원</strong>
        </span>
        <span class="info">
          <em>사용기간</em>
          <strong>2020. 11. 1.~2020. 12. 31.</strong>
        </span>
      </span>
    </button>
  </div>

</body>
</html>