<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My &lt; MAIN</title>
  <link rel="stylesheet" href="../../../../../../../../../shared/components/my/scss/reset.css">
  <link rel="stylesheet" href="../../../../../../../../../shared/components/my/js/lib/swiper/swiper.css">
  <link rel="stylesheet" href="index.module.css">
  <script src="../../../../../../../../../shared/components/my/js/lib/jquery-1.12.4.js"></script>
  <script src="../../../../../../../../../shared/components/my/js/lib/swiper/swiper.min.js"></script>
</head>

<body style="background-color: #f6f8fa;">

  <div class="main-section">
    <h3 class="section-tit">금주의 특가 휴대폰을 확인해보세요.</h3>
    <nav class="nav-detail-page">
      <div class="swiper-wrap">
        <div class="swiper-container">
          <ul class="swiper-wrapper">
            <li class="item swiper-slide"><button type="button" aria-label="출고가격 인하">출고가격 인하</button></li>
            <li class="item swiper-slide"><button type="button" class="current" aria-label="공시지원금 확대">공시지원금 확대</button></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="device-list">
      <ul>
        <li>
          <button type="button" aria-label="갤럭시 노트 20">
            <span class="device-area">
              <span class="service-cnt">
                <span class="service-name">갤럭시 노트 20</span>
                <span class="service-desc">
                  <span class="tit">
                    <span>공시지원금</span>
                    <em class="txt-line-through">600,000원</em>
                  </span>
                  <span class="cnt">
                    <strong>760,000원</strong>
                  </span>
                </span>
                <span class="service-fee">T플랜에센스 기준</span>
              </span>
              <span class="thumb">
                <img src="./images/img-product-110px-galaxy-note20@2x.png" alt="갤럭시 노트20" title="갤럭시 노트20" />
              </span>
            </span>
          </button>
        </li>
        <li>
          <button type="button" aria-label="iPhone11 PRO">
            <span class="device-area">
              <span class="service-cnt">
                <span class="service-name">iPhone11 PRO</span>
                <span class="service-desc">
                  <span class="tit">
                    <span>공시지원금</span>
                    <em class="txt-line-through">600,000원</em>
                  </span>
                  <span class="cnt">
                    <strong>760,000원</strong>
                  </span>
                </span>
                <span class="service-fee">T플랜에센스 기준</span>
              </span>
              <span class="thumb">
                <img src="./images/img-product-110px-iphone11pro@2x.png" alt="iPhone11 PRO" title="iPhone11 PRO" />
              </span>
            </span>
          </button>
        </li>
        <li>
          <button type="button" aria-label="갤럭시 Z Flip">
            <span class="device-area">
              <span class="service-cnt">
                <span class="service-name">갤럭시 Z Flip</span>
                <span class="service-desc">
                  <span class="tit">
                    <span>공시지원금</span>
                    <em class="txt-line-through">600,000원</em>
                  </span>
                  <span class="cnt">
                    <strong>760,000원</strong>
                  </span>
                </span>
                <span class="service-fee">T플랜에센스 기준</span>
              </span>
              <span class="thumb">
                <img src="./images/img-product-110px-galaxy-zflip@2x.png" alt="갤럭시 Z Flip" title="갤럭시 Z Flip" />
              </span>
            </span>
          </button>
        </li>
      </ul>
    </div>
  </div>

  <script>
    // swiper slider
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 'auto',
      // spaceBetween: 20,
      // loop: true,
    });
  </script>

</body>
</html>