<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>My &lt; MAIN</title>
    <link rel="stylesheet" href="../../common/scss/reset.css">
    <link rel="stylesheet" href="../../common/js/lib/swiper/swiper.css">
    <link rel="stylesheet" href="index.module.css">
    <script src="../../common/js/lib/jquery-1.12.4.js"></script>
    <script src="../../common/js/lib/swiper/swiper.min.js"></script>
</head>

<body>

    <div class="main-section">
        <nav class="round-tab">
            <div class="swiper-wrap">
                <div class="swiper-container">
                    <ul class="swiper-wrapper">
                        <li class="item swiper-slide"><button type="button" class="current"
                                aria-label="제조사">제조사</button></li>
                        <li class="item swiper-slide"><button type="button" aria-label="출시년도">출시년도</button></li>
                        <li class="item swiper-slide"><button type="button" aria-label="화면크기">화면크기</button></li>
                        <li class="item swiper-slide"><button type="button" aria-label="저장용량">저장용량</button></li>
                        <li class="item swiper-slide"><button type="button" class=""
                            aria-label="제조사">제조사</button></li>
                    <li class="item swiper-slide"><button type="button" aria-label="출시년도">출시년도</button></li>
                    <li class="item swiper-slide"><button type="button" aria-label="화면크기">화면크기</button></li>
                    <li class="item swiper-slide"><button type="button" aria-label="저장용량">저장용량</button></li>
                    
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <script>
        // swiper slider
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 'auto',
            spaceBetween: 20,
            loop: false,
        });
    </script>

</body>

</html>