<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My &lt; MAIN</title>
    <link rel="stylesheet" href="../../common/scss/reset.css">
    <link rel="stylesheet" href="index.module.css">
    <script src="../../common/js/lib/jquery-1.12.4.js"></script>
</head>

<body style="background-color: #f6f8fa;">

    <div class="main-section">
       
        <div class="layer-popup">
            <div class="layer-popup-inner">
                <div class="popup-cont">
                    <h1 class="pop_tl">할인방법</h1>
                    <div class="popup-body">
                        <ul>
                            <li>
                                <span class="custom-form active">
                                    <input type="checkbox" id="chk1-1" name="chk1" value=""/>
                                </span>
                                <label for="chk1-1">
                                    <div class="custom-label-txt">
                                        더 좋은 방법1
                                    </div>
                                </label>
                            </li>
                            <li>
                                <span class="custom-form">
                                    <input type="checkbox" id="chk1-2" name="chk1" value=""/>
                                </span>
                                <label for="chk1-2">
                                    <div class="custom-label-txt">
                                        25% 요금할인
                                    </div>
                                </label>
                            </li>
                            <li>
                                <span class="custom-form">
                                    <input type="checkbox" id="chk1-3" name="chk1" value=""/>
                                </span>
                                <label for="chk1-3">
                                    <div class="custom-label-txt">
                                        지원금 휴대폰 할인
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="popup-footer">
                        <button type="button" class="bottom-btn">
                            <span class="btn-inner' txt-red">적용</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="dimmed"></div>
    </div>
    
</body>

</html>