.main-section {
  position: relative;
  letter-spacing: -0.4px;
  color: #222;
}

.main-section hr {
  display: block;
  height: 2px;
  margin: 20px 0;
  border-radius: 1px;
  border: none;
  -webkit-box-shadow: inset 1px 1px 1px rgba(186, 186, 189, 0.5);
          box-shadow: inset 1px 1px 1px rgba(186, 186, 189, 0.5);
}

.main-section button {
  padding: 0;
  letter-spacing: -0.4px;
  font-family: inherit;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.main-section .blind {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  color: transparent;
}

.main-section .btn {
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-section .btn.bg-normal {
  -webkit-box-shadow: 0 0 5px #d1d4d6;
          box-shadow: 0 0 5px #d1d4d6;
}

.main-section .btn.btn-s {
  height: 32px;
  padding: 0 16px;
  font-size: 12px;
  border-radius: 16px;
}

.main-section .btn.arrow-right-normal {
  padding: 0 26px 0 16px;
}

.main-section .btn.arrow-right-normal::after {
  content: "";
  position: absolute;
  top: calc(50%);
  left: auto;
  margin-left: 2px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-section .btn.arrow-right-normal.btn-s::after {
  width: 10px;
  height: 10px;
  background-image: url(./images/icon-arrow-right-10px.svg);
}

.main-section .section-tit {
  position: relative;
  line-height: 1.5;
  margin-bottom: 10px;
  font-size: 13px;
  z-index: 2;
}

.main-section .dimmed {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.main-section .layer-popup {
  z-index: 1000;
  width: calc(100% - 116px);
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 0.9375rem;
  background-clip: padding-box;
  background: #fff;
}

.main-section .layer-popup .popup-cont {
  padding: 22px 20px 20px 20px;
}

.main-section .layer-popup .popup-cont h1 {
  height: 18px;
  font-family: SpoqaHanSansNeo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.44px;
  color: #000000;
}

.main-section .layer-popup .popup-cont .popup-body {
  color: #333;
  margin-top: 14px;
}

.main-section .layer-popup .popup-cont .popup-body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-section .layer-popup .popup-cont .popup-body ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 22px;
  margin-bottom: 14px;
}

.main-section .layer-popup .popup-cont .popup-body ul li:last-child {
  margin-bottom: 0px;
}

.main-section .layer-popup .popup-cont .popup-body ul li .custom-form {
  width: 18px;
  height: 22px;
  line-height: 22px;
  background: url("./images/btn-check-sel-s-off@2x.png") no-repeat 0 0;
  background-size: 18px 18px;
  background-position: 0 2px;
}

.main-section .layer-popup .popup-cont .popup-body ul li .custom-form.active {
  width: 18px;
  height: 22px;
  line-height: 22px;
  vertical-align: top;
  background: url("./images/btn-check-sel-s-on@2x.png") no-repeat 0 0;
  background-size: 18px 18px;
  background-position: 0 2px;
}

.main-section .layer-popup .popup-cont .popup-body ul li .custom-label-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 22px;
  margin-left: 5px;
  font-family: SpoqaHanSansNeo;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: -0.41px;
  color: #000000;
}

.main-section .layer-popup .popup-cont .popup-body ul li .custom-form input[type="checkbox"] {
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
  vertical-align: top;
  background-color: transparent;
  -webkit-background-color: transparent;
}

.main-section .layer-popup .popup-cont .popup-body ul li .custom-form input[type="checkbox"] + .c-type1 {
  display: inline-block;
  width: 1.5rem !important;
  height: 1.5rem !important;
  vertical-align: top;
  background: url("./images/component_check_small_off.svg") no-repeat 0 0;
  background-size: 100% 100%;
  vertical-align: top;
}

.main-section .layer-popup .popup-cont .popup-body ul li .custom-form input[type="checkbox"]:checked + .c-type1 {
  background-image: url("./images/component_check_small_on.svg");
}

.main-section .layer-popup .popup-cont .popup-body ul li .custom-form input[type="checkbox"]:disabled + .c-type1 {
  background-image: url("./images/component_check_small_off_disabled.svg");
}

.main-section .layer-popup .popup-cont .popup-body ul li .custom-form input[type="checkbox"]:checked:disabled + .c-type1 {
  background-image: url("./images/component_check_small_on_disabled.svg");
}

.main-section .layer-popup .popup-cont .popup-footer {
  position: relative;
  left: auto;
  bottom: auto;
  width: auto;
  margin: 28px 0 0 0;
  border-top: 1px solid #666666;
}

.main-section .layer-popup .popup-cont .popup-footer .bottom-btn {
  padding: 16px 0px;
  max-width: 50%;
  font-size: 13px;
  font-weight: 700;
  word-break: break-all;
  color: #3b98e6;
  float: right;
  text-align: right;
  letter-spacing: -0.41px;
}

.main-section .layer-popup .popup-cont .popup-footer .bottom-btn:after {
  content: '';
  display: block;
  clear: both;
}

.main-section .layer-popup .popup-cont .popup-footer .bottom-btn .btn-inner {
  display: inline-block;
  font-weight: inherit;
  text-align: center;
}

.main-section .layer-popup .popup-cont .popup-footer .bottom-btn .btn-inner.txt-red {
  color: #ef4b49;
}
/*# sourceMappingURL=index.module.css.map */