@charset "UTF-8";

.main-section {
    position: relative;
    letter-spacing: -0.4px;
    color: #222;

    hr {
        display: block;
        height: 2px;
        margin: 20px 0;
        border-radius: 1px;
        border: none;
        box-shadow: inset 1px 1px 1px rgba(186, 186, 189, 0.5);
    }

    button {
        padding: 0;
        letter-spacing: -0.4px;
        font-family: inherit;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }
    .blind {
        position: absolute !important;
        overflow: hidden;
        width: 1px;
        height: 1px;
        margin: -1px;
        clip: rect(0, 0, 0, 0);
        color: transparent;
    }
    .btn {
        display: inline-block;
        position: relative;
        box-sizing: border-box;

        &.bg-normal {
            box-shadow: 0 0 5px #d1d4d6;
        }

        &.btn-s {
            height: 32px;
            padding: 0 16px;
            font-size: 12px;
            border-radius: 16px;
        }

        &.arrow-right-normal {
            padding: 0 26px 0 16px;

            &::after {
                content: "";
                position: absolute;
                top: calc(50%);
                left: auto;
                margin-left: 2px;
                background-repeat: no-repeat;
                background-size: 100% auto;
                transform: translateY(-50%);
            }

            &.btn-s::after {
                width: 10px;
                height: 10px;
                background-image: url(./images/icon-arrow-right-10px.svg);
            }
        }
    }

    .section-tit {
        position: relative;
        line-height: 1.5;
        margin-bottom: 10px;
        font-size: 13px;
        z-index: 2;
    }
    .dimmed{
        width:100%;
        height:100vh;
        background: rgba(0, 0, 0, 0.2);
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 999;
    }
    .layer-popup {
        z-index: 1000;
        width: calc(100% - 116px);
        height: auto;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 0.9375rem;
        background-clip: padding-box;
        background: #fff;

        & .popup-cont {
            padding: 22px 20px 20px 20px;
            
            h1{
                height: 18px;
                font-family: SpoqaHanSansNeo;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.29;
                letter-spacing: -0.44px;
                color: #000000;
            }
            & .popup-body {
                color: #333;
                margin-top:14px;
                ul {
                    display: flex;
                    flex-direction: column;

                    li {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        height:22px;
                        margin-bottom:14px;
                        &:last-child{
                            margin-bottom:0px;
                        }

                        .custom-form {
                          
                            
                            width: 18px;
                            height: 22px;
                            line-height: 22px;
                            background: url("./images/btn-check-sel-s-off@2x.png") no-repeat 0 0;
                            background-size: 18px 18px;
                            background-position: 0 2px;

                            &.active {
                              
                                width: 18px;
                                height: 22px;
                                line-height: 22px;
                                vertical-align: top;
                                background: url("./images/btn-check-sel-s-on@2x.png") no-repeat 0 0;
                                background-size: 18px 18px;
                                background-position: 0 2px;
                            }
                        }

                        & .custom-label-txt {
                            display: flex;
                            align-items: center;
                            height: 22px;
                            margin-left:5px;
                            font-family: SpoqaHanSansNeo;
                            font-size: 13px;
                            line-height: 22px;
                            letter-spacing: -0.41px;
                            color: #000000;
                        }

                        & .custom-form input[type="checkbox"] {
                            -webkit-appearance: none;
                            border-radius: 0;
                            border: 0;
                            vertical-align: top;
                            background-color: transparent;
                            -webkit-background-color: transparent;
                        }

                        & .custom-form input[type="checkbox"]+.c-type1 {
                            display: inline-block;
                            width: 1.5rem !important;
                            height: 1.5rem !important;
                            vertical-align: top;
                            background: url("./images/component_check_small_off.svg") no-repeat 0 0;
                            background-size: 100% 100%;
                            vertical-align: top;
                            
                        }

                        & .custom-form input[type="checkbox"]:checked+.c-type1 {
                            background-image: url("./images/component_check_small_on.svg");
                        }

                        & .custom-form input[type="checkbox"]:disabled+.c-type1 {
                            background-image: url("./images/component_check_small_off_disabled.svg");
                        }

                        & .custom-form input[type="checkbox"]:checked:disabled+.c-type1 {
                            background-image: url("./images/component_check_small_on_disabled.svg");
                        }
                    }
                }
            }

            & .popup-footer {
                position: relative;
                left: auto;
                bottom: auto;
                width: auto;
                margin: 28px 0 0 0;
                border-top: 1px solid #666666;

                & .bottom-btn {
                    padding: 16px 0px;
                    max-width: 50%;
                    font-size: 13px;
                    font-weight: 700;
                    word-break: break-all;
                    color: #3b98e6;
                    float: right;
                    text-align: right;
                    letter-spacing: -0.41px;

                    &:after {
                        content: '';
                        display: block;
                        clear: both;
                    }

                    & .btn-inner {
                        display: inline-block;
                        font-weight: inherit;
                        text-align: center;

                        &.txt-red {
                            color: #ef4b49;
                        }
                    }
                }
            }
        }
    }
}
