@charset "UTF-8";

.main-section {
  position: relative;
  letter-spacing: -0.4px;
  color: #222;
  border-bottom: 1px solid #fff;
  &::after {
    content: "";
    display: block;
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d8d8d8;
  }
  button {
    padding: 0;
    font-family: inherit;
    letter-spacing: -0.4px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
  .blind {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
  }
  .thumb {
    line-height: 0;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  .cnt-card {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    text-decoration: none;
    font-family: inherit;
    border: 0;
    box-sizing: border-box;
    &.banner-event {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      min-height: 80px;
      padding: 15px 20px 30px;
      .txt-area {
        .txt-notice {
          font-size: 13px;
          color: #222;
          strong {
            font-weight: 400;
          }
        }
        .info-message {
          line-height: 1.25;
          margin: 8px 0 61px;
          font-size: 20px;
          color: #222;
        }
        .btn-underline {
          display: inline-block;
          line-height: 1.67;
          text-decoration: underline;
          font-size: 12px;
          color: #767778;
        }
      }
      .thumb {
        width: 170px;
        height: 170px;
      }
    }
  }
  .swiper-wrap {
    padding-top: 11px;
    .swiper-banner {
      .item {
        box-sizing: border-box;
        .item-inner {
          position: relative;
        }
      }
    }
    .swipe-nav {
      position: absolute;
      top: 3px;
      right: 17px;
      bottom: auto;
      left: auto;
      width: auto;
      line-height: 0;
      text-align: center;
      z-index: 2;
      .bullet {
        display: inline-block;
        position: relative;
        overflow: hidden;
        width: 5px;
        height: 5px;
        border-radius: 2.5px;
        background: #d8d9d9;
        vertical-align: top;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        & + .bullet {
          margin-left: 4px;
        }
        button {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: transparent;
        }
        &.active {
          width: 14px;
          background: #f76252;
          &::before {
            content: '현재페이지 번호';
            display: block;
            overflow: hidden;
            width: 1px;
            height: 1px;
            color: transparent;
          }
        }
        &.active,
        &:focus {
          outline: none;
          border: 0;
        }
      }
    }
    .swipe-play-control {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      button {
        position: absolute;
        top: 0;
        right: 0;
        width: 11px;
        height: 11px;
        padding: 0;
        border-radius: 50%;
        background-color: #d8d9d9;
        background-repeat: no-repeat;
        &.btn-stop {
          background-image: url(./images/btn-swiper-stop.svg);
        }
        &.btn-start {
          background-image: url(./images/btn-swiper-start.svg);
        }
        &.current {
          z-index: 1;
        }
      }
    }
  }
  @media all and (max-width: 320px) {
    .cnt-card.banner-event .thumb {
      width: 120px;
    }
  }
}
