<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>My &lt; MAIN</title>
    <link rel="stylesheet" href="../../common/scss/reset.css">
    <link rel="stylesheet" href="../../common/js/lib/swiper/swiper.css">
    <link rel="stylesheet" href="index.module.css">
    <script src="../../common/js/lib/jquery-1.12.4.js"></script>
    <script src="../../common/js/lib/swiper/swiper.min.js"></script>
</head>

<body>

    <div class="main-section">
        <div class="layer-popup-header">
            <h1>요금제 선택하기</h1>
            <div class="layer-popup-btn-close">
                <span class="blind">닫기</span>
            </div>
        </div>
        <nav class="underline-tab">
            <div class="swiper-wrap">
                <div class="swiper-container">
                    <ul class="swiper-wrapper">
                        <li class="item swiper-slide"><button type="button" class="current"
                                aria-label="5G 언택트">5G 언택트</button></li>
                        <li class="item swiper-slide"><button type="button" aria-label="5G 플랜">5G 플랜</button></li>
                        <li class="item swiper-slide"><button type="button" aria-label="슬림요금제">슬림요금제</button></li>
                        <li class="item swiper-slide"><button type="button" aria-label="0틴 5G">0틴 5G</button></li>
                        <li class="item swiper-slide"><button type="button" aria-label="저장용량">저장용량</button></li>
                        <li class="item swiper-slide"><button type="button" aria-label="슬림요금제">슬림요금제</button></li>
                        <li class="item swiper-slide"><button type="button" aria-label="0틴 5G">0틴 5G</button></li>
                        <li class="item swiper-slide"><button type="button" aria-label="저장용량">저장용량</button></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="fee-choice">
            <ul>
                <li>
                    <div class="fee-name">
                        <span>5G 언택트 62</span>
                        <span class="status-box orange-color">사용중</span>
                    </div>
                    <div class="fee-info">
                        <div class="status-size">데이터 1000GB</div>
                        <div class="status-fee">
                            <span>999,999</span>
                            <span class="status-unit">원/월</span>
                        </div>
                    </div>
                    <div class="fee-guide">데이터 모두 소진시 5Mps 속도로 무제한 제공</div>
                </li>
                <li>
                    <div class="fee-name">
                        <span>5G 언택트 62</span>
                        <span class="status-box purple-color">Ai pick</span>
                    </div>
                    <div class="fee-info">
                        <div class="status-size">데이터 1000GB</div>
                        <div class="status-fee">
                            <span>999,999</span>
                            <span class="status-unit">원/월</span>
                        </div>
                    </div>
                    <div class="fee-guide">데이터 모두 소진시 5Mps 속도로 무제한 제공</div>
                </li>
                <li>
                    <div class="fee-name">
                        <span>5G 언택트 62</span>
                        <span class="status-box green-color">대표</span>
                    </div>
                    <div class="fee-info">
                        <div class="status-size">데이터 1000GB</div>
                        <div class="status-fee">
                            <span>999,999</span>
                            <span class="status-unit">원/월</span>
                        </div>
                    </div>
                    <div class="fee-guide">데이터 모두 소진시 5Mps 속도로 무제한 제공</div>
                </li>
                <li>
                    <div class="fee-name">
                        <span>5G 언택트 62</span>
                        <span class="status-box orange-color">사용중</span>
                    </div>
                    <div class="fee-info">
                        <div class="status-size">데이터 1000GB</div>
                        <div class="status-fee">
                            <span>999,999</span>
                            <span class="status-unit">원/월</span>
                        </div>
                    </div>
                    <div class="fee-guide">데이터 모두 소진시 5Mps 속도로 무제한 제공</div>
                </li>
                <li>
                    <div class="fee-name">
                        <span>5G 언택트 62</span>
                        <span class="status-box purple-color">Ai pick</span>
                    </div>
                    <div class="fee-info">
                        <div class="status-size">데이터 1000GB</div>
                        <div class="status-fee">
                            <span>999,999</span>
                            <span class="status-unit">원/월</span>
                        </div>
                    </div>
                    <div class="fee-guide">데이터 모두 소진시 5Mps 속도로 무제한 제공</div>
                </li>
                <li>
                    <div class="fee-name">
                        <span>5G 언택트 62</span>
                        <span class="status-box green-color">대표</span>
                    </div>
                    <div class="fee-info">
                        <div class="status-size">데이터 1000GB</div>
                        <div class="status-fee">
                            <span>999,999</span>
                            <span class="status-unit">원/월</span>
                        </div>
                    </div>
                    <div class="fee-guide">데이터 모두 소진시 5Mps 속도로 무제한 제공</div>
                </li>
                <li>
                    <div class="fee-name">
                        <span>5G 언택트 62</span>
                        <span class="status-box orange-color">사용중</span>
                    </div>
                    <div class="fee-info">
                        <div class="status-size">데이터 1000GB</div>
                        <div class="status-fee">
                            <span>999,999</span>
                            <span class="status-unit">원/월</span>
                        </div>
                    </div>
                    <div class="fee-guide">데이터 모두 소진시 5Mps 속도로 무제한 제공</div>
                </li>
                <li>
                    <div class="fee-name">
                        <span>5G 언택트 62</span>
                        <span class="status-box purple-color">Ai pick</span>
                    </div>
                    <div class="fee-info">
                        <div class="status-size">데이터 1000GB</div>
                        <div class="status-fee">
                            <span>999,999</span>
                            <span class="status-unit">원/월</span>
                        </div>
                    </div>
                    <div class="fee-guide">데이터 모두 소진시 5Mps 속도로 무제한 제공</div>
                </li>
                <li>
                    <div class="fee-name">
                        <span>5G 언택트 62</span>
                        <span class="status-box green-color">대표</span>
                    </div>
                    <div class="fee-info">
                        <div class="status-size">데이터 1000GB</div>
                        <div class="status-fee">
                            <span>999,999</span>
                            <span class="status-unit">원/월</span>
                        </div>
                    </div>
                    <div class="fee-guide">데이터 모두 소진시 5Mps 속도로 무제한 제공</div>
                </li>
            </ul>
        </div>
        <div class="bottom-btn-area">
            <div class="btn-fee-choice">요금제 선택</div>
        </div>
    </div>

    <script>
        // swiper slider
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 'auto',
            spaceBetween: 21,
            loop: false,
        });
    </script>

</body>

</html>