@charset "UTF-8";

.main-section {
  position: relative;
  letter-spacing: -0.4px;
  color: #222;
  hr {
    display: block;
    height: 2px;
    margin: 20px 0;
    border-radius: 1px;
    border: none;
    box-shadow: inset 1px 1px 1px rgba(186, 186, 189, 0.5);
  }
  button {
    letter-spacing: -0.4px;
    font-family: inherit;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
  table {
    width: 100%;
    margin: -3px 0;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    border: 0;
    border-spacing: 0;
    th,
    td {
      line-height: 1.43;
      padding: 3px 0;
      vertical-align: top;
    }
    th {
      font-weight: 400;
      text-align: left;
      color: #767778;
      border: 0;
    }
    td {
      text-align: right;
      font-weight: 500;
      color: #222;
      border: 0;
    }
    caption,
    legend,
    figcaption {
      position: absolute;
      overflow: hidden;
      width :100%;
      height: 1px;
      margin: -1px;
      clip: rect(0,0,0,0);
      color: transparent;
    }
    col.th-width {
      width:120px;
    }
  }
  .section-tit {
    position: relative;
    line-height: 1.53;
    margin-bottom: 10px;
    font-size: 13px;
    z-index: 2;
  }
  .cnt-card {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 24px;
    text-align: left;
    text-decoration: none;
    font-family: inherit;
    border: 0;
    border-radius: 12px;
    box-shadow: -4px -6px 10px #fff, 4px 7px 10px #dde0e2, -2px -2px 2px #fff;
    box-sizing: border-box;
    .device-area {
      .thumb {
        width: 100px;
        height: 100px;
        line-height: 0;
        margin: 0 auto;
        text-align: center;
        img {
          max-width: 100%;
        }
      }
      .service-cnt {
        margin: 16px 0 10px;
        .service-name {
          line-height: 1.375;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
    .final-notice {
      display: flex;
      align-items: flex-start;
      i.icon-round-rectangle {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        margin-right: 6px;
        padding: 0 6px;
        font-size: 11px;
        font-weight: 700;
        font-style: normal;
        color: #fff;
        border-radius: 10px;
        box-sizing: border-box;
        vertical-align: middle;
        &.bgcolor1-re {
          color: #f76252;
          border: 1px solid #f76252;
          background-color: transparent;
        }
      }
      span {
        width: calc(100% - 70px);
        line-height: 1.462;
        font-size: 13px;
      }
    }
    .btn-area {
      margin-top: 20px;
      text-align: center;
      .btn {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        &.bg-normal {
          box-shadow: 0 0 5px #d1d4d6;
        }
        &.btn-s {
          height: 32px;
          padding: 0 16px;
          font-size: 12px;
          border-radius: 16px;
        }
        &.arrow-right-normal {
          padding: 0 26px 0 16px;
          &::after{
            content: "";
            position: absolute;
            top: calc(50%);
            left: auto;
            margin-left: 2px;
            background-repeat: no-repeat;
            background-size: 100% auto;
            transform: translateY(-50%);
          }
          &.btn-s::after {
            width: 10px;
            height: 10px;
            background-image: url(./images/icon-arrow-right-10px.svg);
          }
        }
      }
    }
  }
  .swiper-wrap {
    position: relative;
    margin: -22px -10px -20px;
    .item {
      box-sizing: border-box;
      .item-inner {
        position: relative;
        padding: 20px 10px;
      }
    }
    .swipe-nav {
      position: absolute;
      top: 0;
      right: 10px;
      bottom: auto;
      left: auto;
      width: auto;
      line-height: 0;
      text-align: center;
      z-index: 2;
      .bullet {
        display: inline-block;
        position: relative;
        overflow: hidden;
        width: 5px;
        height: 5px;
        border-radius: 2.5px;
        background: #d8d9d9;
        vertical-align: top;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        & + .bullet {
          margin-left: 4px;
        }
        button {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: transparent;
        }
        &.active {
          width: 14px;
          background: #f76252;
          &::before {
            content: '현재페이지 번호';
            display: block;
            overflow: hidden;
            width: 1px;
            height: 1px;
            color: transparent;
          }
        }
        &.active,
        &:focus {
          outline: none;
          border: 0;
        }
      }
    }
  }
}
