<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My &lt; MAIN</title>
  <link rel="stylesheet" href="../../../../../../../../../shared/components/my/scss/reset.css">
  <link rel="stylesheet" href="../../../../../../../../../shared/components/my/js/lib/swiper/swiper.css">
  <link rel="stylesheet" href="index.module.css">
  <script src="../../../../../../../../../shared/components/my/js/lib/jquery-1.12.4.js"></script>
  <script src="../../../../../../../../../shared/components/my/js/lib/swiper/swiper.min.js"></script>
</head>

<body style="background-color: #f6f8fa;">

  <div class="main-section">
    <h3 class="section-tit">장바구니에 주문하지 않은 상품이 있어요.</h3>
    <div class="swiper-wrap">
      <div class="swiper-container swiper-cart">
        <ul class="swiper-wrapper">
          <li class="item swiper-slide">
            <div class="item-inner">
              <div class="cnt-card">
                <div class="device-area">
                  <div class="thumb">
                    <img src="./images/img-phone-product@2x.png" alt="갤럭시 노트20" title="갤럭시 노트20" />
                  </div>
                  <div class="service-cnt">
                    <div class="service-name">
                      갤럭시 노트 20
                    </div>
                  </div>
                </div>
                <div class="final-notice">
                  <i class="icon-round-rectangle bgcolor1-re">공시지원금</i>
                  <span>총 480,000원 할인 받으실 수있어요.</span>
                </div>
                <hr />
                <table>
                  <caption>선택한 정보: 요금제, 월 납부금액, 단말기 월 할부금액, 월 통신요금</caption>
                  <colgroup>
                    <col class="th-width"><col>
                  </colgroup>
                  <tbody>
                    <tr>
                      <th scope="row">요금제</th>
                      <td>T플랜 에센스+다이렉트 플랜</td>
                    </tr>
                    <tr>
                      <th scope="row">월 납부금액</th>
                      <td>38,679원</td>
                    </tr>
                    <tr>
                      <th scope="row">단말기 월 할부금액</th>
                      <td>47,729원</td>
                    </tr>
                    <tr>
                      <th scope="row">월 통신요금</th>
                      <td>69,000원</td>
                    </tr>
                  </tbody>
                </table>
                <hr />
                <div class="btn-area">
                  <button type="button" class="btn btn-s bg-normal arrow-right-normal" aria-label="장바구니 가기">장바구니 가기</button>
                </div>
              </div>
            </div>
          </li>
          <li class="item swiper-slide">
            <div class="item-inner">
              <div class="cnt-card">
                <div class="device-area">
                  <div class="thumb">
                    <img src="./images/img-phone-product@2x.png" alt="갤럭시 노트20" title="갤럭시 노트20" />
                  </div>
                  <div class="service-cnt">
                    <div class="service-name">
                      갤럭시 노트 20
                    </div>
                  </div>
                </div>
                <div class="final-notice">
                  <i class="icon-round-rectangle bgcolor1-re">공시지원금</i>
                  <span>총 480,000원 할인 받으실 수있어요.</span>
                </div>
                <hr />
                <table>
                  <caption>선택한 정보: 요금제, 월 납부금액, 단말기 월 할부금액, 월 통신요금</caption>
                  <colgroup>
                    <col class="th-width"><col>
                  </colgroup>
                  <tbody>
                    <tr>
                      <th scope="row">요금제</th>
                      <td>T플랜 에센스+다이렉트 플랜</td>
                    </tr>
                    <tr>
                      <th scope="row">월 납부금액</th>
                      <td>38,679원</td>
                    </tr>
                    <tr>
                      <th scope="row">단말기 월 할부금액</th>
                      <td>47,729원</td>
                    </tr>
                    <tr>
                      <th scope="row">월 통신요금</th>
                      <td>69,000원</td>
                    </tr>
                  </tbody>
                </table>
                <hr />
                <div class="btn-area">
                  <button type="button" class="btn btn-s bg-normal arrow-right-normal" aria-label="장바구니 가기">장바구니 가기</button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="swipe-nav" data-swipe-paging>
        
      </div>
    </div>
  </div>

  <script>
    // swiper slider
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 'auto',
      // spaceBetween: 20,
      pagination: {
        el: '[data-swipe-paging]',
        type: 'bullets',
        clickable: true,
        slidesPerView: 'auto',
        bulletClass: 'bullet',
        bulletActiveClass: 'active',
        renderBullet: function(index, className) {
          return '<div class="' + className + '"><button>"' + (index + 1) + '"</button></div>';
        },
      }
    });
  </script>

</body>
</html>