@charset "UTF-8";

.main-section {
    position: relative;
    letter-spacing: -0.4px;
    color: #222;

    hr {
        display: block;
        height: 2px;
        margin: 20px 0;
        border-radius: 1px;
        border: none;
        box-shadow: inset 1px 1px 1px rgba(186, 186, 189, 0.5);
    }

    button {
        padding: 0;
        letter-spacing: -0.4px;
        font-family: inherit;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

    .blind {
        position: absolute !important;
        overflow: hidden;
        width: 1px;
        height: 1px;
        margin: -1px;
        clip: rect(0, 0, 0, 0);
        color: transparent;
    }

    .mobile-devices-list {
        margin: 0 auto;
        width: calc(100% - 40px);

        ul {
            li {
                display: block;
                border-bottom: 1px solid #efeff1;

                .item-inner {
                    position: relative;
                    padding: 24px 0px 25px 0;

                    .cnt-card {
                        display: block;
                        position: relative;
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        text-align: left;
                        text-decoration: none;
                        font-family: inherit;
                        border: 0;
                        border-radius: 12px;
                        box-sizing: border-box;

                        .txt-notice {
                            line-height: 1.25;
                            margin-bottom: 14px;
                            font-size: 16px;
                        }

                        .device-area {
                            display: flex;
                            align-items: center;

                            .device-left {

                                .purchase-type {
                                    padding-left: 0px;

                                    ul {
                                        display: flex;
                                    }

                                    .type-box {
                                        width: 31px;
                                        height: 30px;
                                        line-height: 30px;
                                        margin-right: 4px;
                                        padding: 4px 0px;
                                        text-align: center;
                                        font-family: NotoSansCJKkr;
                                        font-size: 9px;
                                        font-weight: 500;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: 1.11;
                                        letter-spacing: -0.28px;
                                        text-align: center;
                                        box-sizing: border-box;

                                    }

                                    .type-box.pre-order {
                                        border: solid 1px #fa8856;
                                        color: #fa8856;
                                    }

                                    .type-box.immediately-reward {
                                        border: solid 1px #897fd7;
                                        color: #897fd7;
                                    }

                                    .type-box.skt-private {
                                        border: solid 1px #5bc09f;
                                        color: #5bc09f;
                                    }
                                }

                                .thumb {
                                    width: 140px;
                                    height: 140px;
                                    line-height: 0;
                                    margin-right: 10px;
                                    text-align: center;

                                    img {
                                        max-width: 100%;
                                    }
                                }

                                .phone-info {
                                    .device-color-area {
                                        display: flex;
                                        margin: 0px 0 10px 23px;

                                        .device-color {
                                            display: inline-block;
                                            width: 12px;
                                            height: 12px;
                                            border-radius: 50%;

                                            &+.device-color {
                                                margin-left: 6px;
                                            }
                                        }
                                    }

                                    .volumn-size {
                                        height: 18px;
                                        margin: 2px 0 0 22px;
                                        font-family: SpoqaHanSansNeo;
                                        font-size: 13px;
                                        line-height: 1.38;
                                        letter-spacing: -0.4px;
                                        color: #767778;

                                    }
                                }
                            }

                            .service-cnt {
                                width: calc(100% - 110px);

                                .service-name {
                                    line-height: 1.43;
                                    font-size: 14px;
                                    font-weight: 500;
                                    margin-bottom: 10px;
                                }

                                .service-desc {
                                    //   margin-top: 14px;
                                    font-size: 12px;
                                    color: #222222;

                                    dl {
                                        dt {
                                            line-height: 1.39;
                                            margin-bottom: 2px;
                                            color: #767778;
                                        }

                                        dd {
                                            display: flex;
                                            line-height: 1.438;

                                            &>* {
                                                display: inline-block;
                                                line-height: 23px;
                                            }

                                            span {
                                                font-size: 13px;
                                                margin-right: 4px;
                                            }

                                            strong {
                                                font-size: 16px;
                                                color: #f76252;
                                            }
                                        }
                                    }

                                    .monthly-fee {
                                        display: flex;
                                        height: 14px;
                                        margin: 6px 4px 6px 1px;
                                        font-family: SpoqaHanSansNeo;
                                        font-size: 12px;
                                        font-weight: normal;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: 1.5;
                                        letter-spacing: -0.5px;
                                        color: #767778;

                                        .monthly-tl {
                                            width: 80px;
                                        }

                                        .monthly-num {
                                            width: 50px;
                                            margin: 0 3px 0 1px;
                                        }

                                        .monthly-num-sm {
                                            width: 39px;
                                            font-size: 10px;
                                            line-height: 1.8;
                                            letter-spacing: -0.31px;
                                            text-decoration: line-through;
                                        }
                                    }

                                    .fee-standard {
                                        margin-top: 14px;
                                        font-size: 12px;
                                        color: #222222;
                                    }
                                }
                            }
                        }

                        @media all and (max-width: 320px) {
                            .device-area {
                                align-items: flex-start;

                                .device-left {
                                    .thumb {
                                        width: 100px;
                                        height: 100px;
                                    }
                                }

                                .service-cnt {
                                    width: calc(100% - 90px);
                                }
                            }
                        }

                        .final-notice {
                            display: flex;
                            align-items: flex-start;
                            margin-top: 20px;

                            &>* {
                                vertical-align: middle;
                            }

                            i.icon-round-rectangle {
                                display: inline-block;
                                height: 20px;
                                line-height: 20px;
                                margin-right: 6px;
                                padding: 0 8px 0 8px;
                                font-size: 11px;
                                font-weight: 700;
                                font-style: normal;
                                color: #fff;
                                border-radius: 10px;
                                box-sizing: border-box;
                                vertical-align: middle;

                                &.bgcolor1-re {
                                    color: #f76252;
                                    border: 1px solid #f76252;
                                    background-color: transparent;
                                }
                            }

                            span {
                                font-size: 13px;
                            }
                        }

                        .btn-area {
                            margin-top: 20px;
                            text-align: center;
                        }
                    }
                }
            }
        }


    }
}
