@charset "UTF-8";

.main-section {
    position: relative;
    letter-spacing: -0.4px;
    color: #222;

    button {
        display: block;
        width: 100%;
        padding: 0;
        letter-spacing: -0.4px;
        font-family: inherit;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

    .section-tit {
        position: relative;
        line-height: 1.5;
        margin-bottom: 10px;
        font-size: 13px;
        z-index: 2;
    }

    .filter-result {
        ul {

            li {
                display: inline-block;
                vertical-align: middle;
                box-sizing: border-box;
                &.item {
                    width: auto !important;

                    button {
                        width: auto;
                        height: 40px;
                        padding: 9px 7px 9px 8px;
                       
                        box-sizing: border-box;
                        font-family: SpoqaHanSansNeo;
                        font-size: 13px;
                        font-weight: normal;
                        letter-spacing: -0.5px;
                        text-align: center;
                        color: #666666;

                       
                        &::after{
                            width:10px;
                            height:10px;
                            background-image: url('images/btn-del-x@2x.svg');
                            background-size: 10px 10px;
                        }
                    }
                }
            }
        }
    }
}
