<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My &lt; MAIN</title>
  <link rel="stylesheet" href="../../../../../../../../../shared/components/my/scss/reset.css">
  <link rel="stylesheet" href="index.module.css">
  <script src="../../../../../../../../../shared/components/my/js/lib/jquery-1.12.4.js"></script>
</head>

<body style="background-color: #f6f8fa;">

  <!-- {/* CASE 1. 개통안내(자동개통, 운영자개통) */} -->
  <div class="main-section">
    <h3 class="section-tit">휴대폰 잘 받으셨어요? 개통안내 도와 드릴게요.</h3>
    <div class="section-cnt">
      <div class="cnt-card">
        <div class="cnt-area">
          <div class="thumb">
            <img src="./images/icon-tds-status.svg" alt="" title="" aria-hidden="true" />
          </div>
          <div class="txt-notice">
            구매하신 상품을 수령하신 후 주문확인 메뉴에서 개통을 진행해주세요.
            <br />
            별도의 개통 요청이 없을 경우 <strong class="txcolor1">배송 완료 1~2일 후 자동 개통</strong>될 예정입니다.
          </div>
        </div>
        <hr />
        <div class="btn-area">
          <button type="button" class="btn btn-s bg-normal arrow-right-normal" aria-label="주문 확인하기">주문 확인하기</button>
        </div>
      </div>
    </div>
  </div>

  <!-- {/* 2. CASE 2. 유심사전기변 */} -->
  <div class="main-section">
    <h3 class="section-tit">휴대폰 잘 받으셨어요? 개통안내 도와 드릴게요.</h3>
    <div class="section-cnt">
      <div class="cnt-card">
        <div class="cnt-area">
          <div class="thumb">
            <img src="./images/icon-tds-status.svg" alt="" title="" aria-hidden="true" />
          </div>
          <div class="txt-notice">
            상품 수령 후, 새 휴대폰에 USIM을 삽입하시면 별도의 개통없이 바로 사용 가능합니다.
            <br />
            <strong class="txcolor1">추가 문의 사항은 고객센터</strong>로 문의주세요.
          </div>
        </div>
        <hr />
        <div class="btn-area">
          <button type="button" class="btn btn-s bg-normal arrow-right-normal" aria-label="카카오톡 상담하기">카카오톡 상담하기</button>
        </div>
      </div>
    </div>
  </div>

  <!-- {/* CASE 3. 개통보류 */} -->
  <div class="main-section">
    <h3 class="section-tit">휴대폰 잘 받으셨어요? 개통안내 도와 드릴게요.</h3>
    <div class="section-cnt">
      <div class="cnt-card">
        <div class="cnt-area">
          <div class="thumb">
            <img src="./images/icon-tds-status.svg" alt="" title="" aria-hidden="true" />
          </div>
          <div class="txt-notice">
            개통이 완료되지 않았어요.
            <br />
            상담사가 곧 연락 드릴 예정입니다.
            <br />
            <strong class="txcolor1">추가 문의 사항은 고객센터</strong>로 문의주세요.
          </div>
        </div>
        <hr />
        <div class="btn-area">
          <button type="button" class="btn btn-s bg-normal arrow-right-normal" aria-label="카카오톡 상담하기">카카오톡 상담하기</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>