@charset "UTF-8";

.main-section {
  position: relative;
  letter-spacing: -0.4px;
  color: #222;
  button {
    letter-spacing: -0.4px;
    font-family: inherit;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
  .blind {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    color: transparent;
  }
  .cnt-card {
    display: block;
    width: calc(100% - 40px);
    height: 100%;
    padding: 25px;
    text-align: left;
    text-decoration: none;
    border-radius: 12px;
    box-shadow: -4px -6px 10px #fff, 4px 7px 10px #dde0e2, -2px -2px 2px #fff;
    box-sizing: border-box;
    .device-area {
      .thumb {
        position: absolute;
        top: 51px;
        right: 10px;
        width: 150px;
        height: 150px;
        line-height: 0;
        margin: 0 auto;
        text-align: center;
        img {
          max-width: 100%;
        }
      }
      .service-cnt {
        .service-name {
          line-height: 1.375;
          font-size: 16px;
          font-weight: 500;
        }
        .service-desc {
          line-height: 1.385;
          margin: 4px 0 10px;
          font-size: 13px;
        }
        .device-color-area {
          display: flex;
          margin-bottom: 76px;
          .device-color {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 1px;
            border-radius: 50%;
            vertical-align: -1px;
            & + .device-color {
              margin-left: 5px;
            }
          }
        }
        .price-area {
          display: flex;
          align-items: center;
          & > * {
            line-height: 23px;
          }
          span {
            margin-right: 4px;
            font-size: 13px;
            font-weight: 500;
          }
          strong {
            letter-spacing: 0;
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
    }
    .btn-area {
      margin-top: 20px;
      text-align: center;
      .btn {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        &.bg-normal {
          box-shadow: 0 0 5px #d1d4d6;
        }
        &.btn-s {
          height: 32px;
          padding: 0 16px;
          font-size: 12px;
          border-radius: 16px;
        }
        &.arrow-right-normal {
          padding: 0 26px 0 16px;
          &::after {
            content: "";
            position: absolute;
            top: calc(50%);
            left: auto;
            margin-left: 2px;
            background-repeat: no-repeat;
            background-size: 100% auto;
            transform: translateY(-50%);
          }
          &.btn-s::after{
            width: 10px;
            height: 10px;
            background-image: url(./images/icon-arrow-right-10px.svg);
          }
        }
      }
    }
  }
  .swiper-wrap {
    position: relative;
    margin: 0 -20px -20px;
    .swiper-cart {
      .item-inner {
        position: relative;
        padding: 22px 20px 20px;
      }
    }
    .swipe-nav {
      position: absolute;
      top: 0;
      right: 20px;
      bottom: auto;
      left: auto;
      width: auto;
      line-height: 0;
      text-align: center;
      z-index: 2;
      .bullet {
        display: inline-block;
        position: relative;
        overflow: hidden;
        width: 5px;
        height: 5px;
        border-radius: 2.5px;
        background: #d8d9d9;
        vertical-align: top;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        & + .bullet {
          margin-left: 4px;
        }
        button {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: transparent;
        }
        &.active {
          width: 14px;
          background: #f76252;
          &::before {
            content: '현재페이지 번호';
            display: block;
            overflow: hidden;
            width: 1px;
            height: 1px;
            color: transparent;
          }
        }
        &.active,
        &:focus {
          outline: none;
          border: 0;
        }
      }
    }
  }
}
