@charset "UTF-8";

.main-section {
    position: relative;
    letter-spacing: -0.4px;
    color: #222;

    button {
        display: block;
        width: 100%;
        padding: 0;
        letter-spacing: -0.4px;
        font-family: inherit;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

    .section-tit {
        position: relative;
        line-height: 1.5;
        margin-bottom: 10px;
        font-size: 13px;
        z-index: 2;
    }

    .filter-area {
        display: flex;
        position: relative;
        height: 64px;
        width: 100%;
        background-color: #f6f8fa;

        .filter-btn {
            display: flex;
            justify-content: center;
            width: 100%;

            .filter-btn-left {
                width: calc(50% - 60px);
                height: 64px;
                background-image: url(./images/filter-area-left-bg.png);
                background-repeat: repeat-x;
            }

            .filter-btn-center {
                width: 120px;
                height: 64px;
                background-image: url(./images/filter-area-btn-bg.png);
                background-repeat: no-repeat;
                text-align: center;
                padding-top: 17px;
                box-sizing: border-box;

                span {
                    height: 17px;
                    font-family: AppleSDGothicNeo;
                    font-size: 12px;
                    line-height: 1.42;
                    letter-spacing: -0.5px;
                    text-align: center;
                    color: #222222;
                }
            }

            .filter-btn-right {
                width: calc(50% - 60px);
                height: 64px;
                background-image: url(./images/filter-area-right-bg.png);
                background-repeat: repeat-x;

            }
        }
    }
}
