@charset "UTF-8";

.main-section {
    position: relative;
    letter-spacing: -0.4px;
    color: #222;

    button {
        display: block;
        width: 100%;
        padding: 0;
        letter-spacing: -0.4px;
        font-family: inherit;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

    .section-tit {
        position: relative;
        line-height: 1.5;
        margin-bottom: 10px;
        font-size: 13px;
        z-index: 2;
    }

    .filter-result {
        display: flex;
        align-items: center;
        height: 53px;
        .filter-reset {
            margin-right:20px;
            button {
                width: auto;
                height: 19px;
                margin: 0 0 1px 6px;
                font-family: SpoqaHanSansNeo;
                font-size: 13px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: -0.37px;
                color: #222222;
                display: flex;
                align-items: center;
               
                &:before{
                    content: "";
                    width:48px;
                    height:53px;
                    background-image: url(./images/btn-reset@2x.png);
                    background-size: 48px 53px;
                    background-repeat: no-repeat;
                    display: inline-block;
                    margin-right:-7px;
                }
            }
        }
        .swiper-wrap{
            display: flex;
            align-items: center;
            height: 53px;
            ul {
                display: flex;
                li {
                    
                    align-items: center;
                    vertical-align: middle;
                    box-sizing: border-box;
                    &.item {
                        width: auto !important;

                        button {
                            font-family: AppleSDGothicNeo;
                            font-size: 12px;
                            letter-spacing: -0.5px;
                            color: #767778;
                            border-bottom: solid 0.5px #767778;
                            line-height: 10px;
                        
                            &:after{
                                content: "";
                                width:10px;
                                height:10px;
                                background-image: url(./images/btn-del-x@2x.png);
                                background-size: 10px 10px;
                                background-position: 0px 1px;
                                background-repeat: no-repeat;
                                display: inline-block;
                                margin-left:4px;
                            }
                        }
                    }
                }
            }
        }
    }
}
