<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My &lt; MAIN</title>
    <link rel="stylesheet" href="../../common/scss/reset.css">
    <link rel="stylesheet" href="../../common/js/lib/swiper/swiper.css">
    <link rel="stylesheet" href="index.module.css">
    <script src="../../common/js/lib/jquery-1.12.4.js"></script>
</head>

<body>

    <div class="main-section">
        <div class="filter-area">
            <div class="filter-btn">
                <div class="filter-btn-left"></div>
                <div class="filter-btn-center">
                    <span>필터</span>
                </div>
                <div class="filter-btn-right"></div>
            </div>
        </div>
    </div>
  
</body>

</html>